* {
    margin: 0;
}

body {
    font-family: 'SF Pro Display', Arial, Helvetica, sans-serif;
}

.mediascreen-mobile {
    display: none;
}

.mediascreen-desktop {
    display: inherit;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: rgb(240, 240, 240);
    z-index: 1;
}

header a {
    text-decoration: none;
}

header li {
    display: inline;
    color: rgb(43, 118, 231);
    padding: 6px 10px;
    border-radius: 5px;
    background: none;
    transition: 200ms;
}


header li:hover {
    background: rgb(212, 212, 212);
}

.header-icon {
    color: rgb(43, 118, 231);
    transform: scale(1.5);
}

.header-input {
    background: rgb(212, 212, 212);
    border: none;
    border-radius: 5px;
    width: 20vw;
    height: 30px;
    padding: 10px;
    opacity: 0.7;
    transition: 200ms;
}

.header-input:hover {
    opacity: 1;
}

.header-profile-img {
    object-fit: cover;
    width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
}

.header-profile-dropmenu {
    position: absolute;
    top: 60px;
    right: 30px;
    text-align: right;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.171));
}

.header-profile-dropmenu li {
    display: block;
}

#viewport {
    padding: 50px 20vw;
}

#viewport-bio {
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
    margin-bottom: 30px;
}

.bio-profile-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bio-profile-text button {
    background: rgb(43, 118, 231);
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid rgb(43, 118, 231);
    transition: 200ms;
}

.bio-profile-text button:hover {
    background: rgb(44, 104, 196);
    border: 2px solid rgb(22, 54, 102);
}

/* .bio-profile-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.bio-profile-name h1 {
    font-size: 40px;
}

.bio-profile-name h5 {
    margin-block-end: 10px;
    opacity: 0.6;
}

.bio-profile-detail a {
    color: rgb(43, 118, 231);
    text-decoration: none;
    font-weight: bold;
}

.bio-profile-detail p {
    opacity: 0.6;
}

.bio-profile-detail a:hover {
    color: rgb(44, 104, 196);
}

.bio-profile-img {
    width: 200px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    clip-path: circle();
    filter: drop-shadow(0px 10px 10px #000);
}

#viewport-story {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    margin-bottom: 10px;
}

.story-item {
    display: block;
    text-align: center;
    width: 70px;
    padding: 20px 0;
}

.story-thumbnail {
    width: 60px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    clip-path: circle();
    margin-bottom: 10px;
}

.posts-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    border-top: rgba(0, 0, 0, 0.205) 1px solid;
    position: sticky;
    top: 50px;
    background: rgba(255, 255, 255, 0.726);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    align-items: center;
    z-index: 1;
    height: 60px;
    box-sizing: border-box;
}

.posts-tab a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: 200ms;
    border-radius: 5px;
}

.posts-tab a:hover {
    color: #000;
    background: rgba(0, 0, 0, 0.205);
}

.posts-img a {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.posts-img {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    gap: 10px;
}

.posts-img img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    place-self: center;
}

.posts-img-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #00000073;
    opacity: 0;
    transition: 0.2s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.posts-img-hover:hover {
    opacity: 1;
}

@media screen and (max-width: 926px) {
    * {
        box-sizing: border-box;
    }

    body {
        overflow-x: hidden;
    }

    header {
        width: 100vw;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        position: fixed;
        top: inherit;
        bottom: 0;
    }

    #viewport {
        padding: 0;
    }

    .mediascreen-mobile {
        display: inherit;
    }

    .mediascreen-desktop {
        display: none;
    }

    .padding-mobile {
        padding-left: 10px;
        padding-right: 10px;
    }

    #viewport-bio {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #viewport-story {
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
        margin-bottom: 10px;
    }    

    .posts-tab {
        gap: 0px;
        top: 0px;
    }    
}